[user]
	email = thlmenezes.dev@gmail.com
	name = Thales Menezes
	signingkey = BE051A0C5409AF03
[pull]
	rebase = false
[commit]
	gpgsign = false
[init]
	defaultBranch = main
[safe]
	directory = *
[push]
	autoSetupRemote = true
