[user]
	email = thlmenezes.dev@gmail.com
	name = Thales Menezes
	signingkey = BE051A0C5409AF03
[pull]
	rebase = false
[commit]
	gpgsign = false
[init]
	defaultBranch = main
[safe]
	directory = *
[push]
	autoSetupRemote = true
# set "nvim" as tool for merging
[merge]
	tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
	prompt = false
# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[core]
	editor = "nano"
[diff "lockb"]
	textconv = bun
	binary = true
